<div style="margin-top: 50px; width: 40%; margin-left: auto; margin-right: auto; background-color: lightgrey; padding: 50px;" class="rounded" class="border border-light">
	<h1>Edite ton profil</h1>



	<%= form_for @user do |f| %>
	  <div class="form-group">
			<%= f.label :email, "Email" %>
			<br />
			<%= f.text_field :email, placeholder: "Votre adresse e-mail...", class: "form-control" %>
  	</div>
	  <div class="form-group">
			<%= f.label :password, "Password" %>
		<br />
			<%= f.password_field :password, placeholder: "Votre mot de passe...", class: "form-control" %>
  	</div>

		<%= f.submit "Editer le profil", class:"btn btn-success" %>

	<% end %>
</div>